
body {
  font-size: 12px !important;
  font-family: Mochiy Pop P One, sans-serif !important;
}

/*.marquee{
  border: 2px solid black;
  overflow: hidden;
  white-space: nowrap;
}

.marquee:hover .marquee_inner1 {
    animation-play-state: paused;
}

.marquee:hover .marquee_inner2 {
    animation-play-state: paused;
}

.marquee_inner1 {
  display: inline-block;
  animation: marquee 50s linear infinite;
  animation-play-state: running;
}

.marquee_inner1 span {
  font-size: 14px;
  margin-right: 10px;
}

.marquee_inner2 {
  display: inline-block;
  animation: marquee2 50s linear infinite;
  animation-play-state: running;
  animation-delay: 25s;
}

.marquee_inner2 span {
  font-size: 14px;
  margin-right: 10px;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}*/

#items-container {
    padding-bottom: 50px;
}

#summary_btn_container {
    float: right;
    margin: -15px 15px 0 0;
}

.summary_btn {
    display: block;
    position: absolute;
}

.asset_summary {
    display: none;
}

#summary_down_btn {
    display: none;
}

#filters-container {
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-top: -9px;
}

.loadingCont {
    position: fixed;
    /*display: none;*/
    z-index: 10000;
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
}

.chartLegend {
	position: absolute;
	left: 70px;
	top: 12px;
	z-index: 1;
	font-size: 12px;
	line-height: 18px;
	font-weight: 300;
}

#disclaimer {
    color: white;
    font-size: 8px
}

@media only screen and (max-width: 500px) {

   body {
      font-size: 8px !important;
   }

   #disclaimer {
    font-size: 5px
}

}